.H {
    width: 100%;
    height: 300px;
    background-color: beige;
}

.H h1{
    text-align: center;
}

.H nav{
    text-align: right;
}
.rectangulo{
    
    width: 100%;
    height: 200px;
    background-color: beige;
}

.rectangulo h2{
    text-align: center;
}

.rectangulo p{
    font-size: larger;
}

.I img{
position: absolute;
bottom: 10%;
left: 45%;    
}

.Ej iframe{
    margin-right: 60px;
}

body{
    background-color: rgb(139, 62, 62);
}